<div class="friend-box">
    <div class="profile-pic-container">
        <%= gravatar_image_tag(user.email, size:20, alt: user.username ) %>

    </div>
    <div class="name-container">
        <p><%= user.name %></p>
        <p><%= user.friends_count %> Friends</p>
    </div>
</div>