<div class="friend-box">
    <div class="profile-pic-container">
        <i class="fa-solid fa-user fa-6x"></i>
    </div>
    <div class="name-container">
        <p><%= user.name %></p>
        <p><%= user.friends_count %> Friends</p>
    </div>
</div>