<div class="group-container">
    <h3>Group Conversation</h3>
    <div class="new-group">
        <div class="icon-container"><i  class="fa-solid fa-add fa-lg"></i> </div>
        <div class="text-container">Create New Group</div>
    </div>
</div>