<div class="toolbar-container">
    <div class="item">
        <div class="icon-container user"><i class="fa-solid fa-user fa-lg" ></i></div>
        <div class="text-container"><p><%= @user.name %></p></div>
    </div>
        <%= link_to  friends_path do%>
    <div class="item">
        <div class="icon-container friends"><i class="fa-solid fa-user-group fa-lg" ></i></div>
        <div class="text-container"><p>Find Friends</p></div>
        
    </div>
        <% end %>
    <div class="item">
        <div class="icon-container groups"><i class="fa-solid fa-users-line fa-lg" ></i></div>
        <div class="text-container"><p>Groups</p></div>
        
    </div>
    <div class="item">
        <div class="icon-container market"><i class="fa-solid fa-store fa-lg" ></i></div>
        <div class="text-container"><p>Marketplace</p></div>
    </div>
    <div class="item">
        <div class="icon-container watch"><i class="fa-solid fa-circle-play fa-lg"></i></div>
        <div class="text-container"><p>Watch</p></div>
    </div>
    <div class="item">
        <div class="icon-container memories"><i class="fa-solid fa-clock-rotate-left fa-lg" ></i></div>
        <div class="text-container"><p>Memories</p></div>
    </div>
    <div class="item">
        <div class="icon-container saved"><i class="fa-solid fa-bookmark fa-lg" ></i></div>
        <div class="text-container"><p>Saved</p></div>
    </div>
    <div class="item">
        <div class="icon-container pages"><i class="fa-solid fa-flag fa-lg" ></i></div>
        <div class="text-container"><p>Pages</p></div>
    </div>
    <div class="item">
        <div class="icon-container events"><i class="fa-solid fa-calendar fa-lg" ></i></div>
        <div class="text-container"><p>Events</p></div>
    </div>
    <div class="item">
        <div class="icon-container recent"><i class="fa-solid fa-calendar-minus fa-lg" ></i></div>
        <div class="text-container"><p>Recent</p></div>
    </div>
    <div class="item">
        <div class="icon-container star"><i class="fa-solid fa-star fa-lg" ></i></div>
        <div class="text-container"><p>Favourites</p></div>
    </div>
</div>