<div class="friend-box">
    <%= link_to user_path(request.receiver_id) do%>
    <div class="profile-pic-container">
        <%= gravatar_image_tag(user.email, size:20, alt: user.username ) %>
    </div>
    <% end %>
    
    <div class="name-container">
        <p><%= user.name %></p>
        <%= button_to "Accept", accept_friend_request_path(request), method: :post %>
    </div>
</div>